<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppMercado</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EletronicoController</display-name>
    <servlet-name>EletronicoController</servlet-name>
    <servlet-class>controle.EletronicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EletronicoController</servlet-name>
    <url-pattern>/EletronicoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PadariaController</display-name>
    <servlet-name>PadariaController</servlet-name>
    <servlet-class>controle.PadariaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PadariaController</servlet-name>
    <url-pattern>/PadariaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorController</display-name>
    <servlet-name>SupervisorController</servlet-name>
    <servlet-class>controle.SupervisorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorController</servlet-name>
    <url-pattern>/SupervisorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuController</display-name>
    <servlet-name>MenuController</servlet-name>
    <servlet-class>controle.MenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuController</servlet-name>
    <url-pattern>/MenuController</url-pattern>
  </servlet-mapping>
</web-app>