<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppMercado</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PadariaController</display-name>
    <servlet-name>PadariaController</servlet-name>
    <servlet-class>controller.PadariaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PadariaController</servlet-name>
    <url-pattern>/PadariaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorController</display-name>
    <servlet-name>SupervisorController</servlet-name>
    <servlet-class>controller.SupervisorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorController</servlet-name>
    <url-pattern>/SupervisorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuController</display-name>
    <servlet-name>MenuController</servlet-name>
    <servlet-class>controller.MenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuController</servlet-name>
    <url-pattern>/MenuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoController</display-name>
    <servlet-name>ProdutoController</servlet-name>
    <servlet-class>controller.ProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoController</servlet-name>
    <url-pattern>/ProdutoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EletronicoController</display-name>
    <servlet-name>EletronicoController</servlet-name>
    <servlet-class>controller.EletronicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EletronicoController</servlet-name>
    <url-pattern>/EletronicoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirSupervisorController</display-name>
    <servlet-name>ExcluirSupervisorController</servlet-name>
    <servlet-class>controller.ExcluirSupervisorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirSupervisorController</servlet-name>
    <url-pattern>/ExcluirSupervisorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirPadariaController</display-name>
    <servlet-name>ExcluirPadariaController</servlet-name>
    <servlet-class>controller.ExcluirPadariaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirPadariaController</servlet-name>
    <url-pattern>/ExcluirPadariaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirEletronicoController</display-name>
    <servlet-name>ExcluirEletronicoController</servlet-name>
    <servlet-class>controller.ExcluirEletronicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirEletronicoController</servlet-name>
    <url-pattern>/ExcluirEletronicoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcessoController</display-name>
    <servlet-name>AcessoController</servlet-name>
    <servlet-class>controller.AcessoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcessoController</servlet-name>
    <url-pattern>/AcessoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirLojaController</display-name>
    <servlet-name>ExcluirLojaController</servlet-name>
    <servlet-class>controller.ExcluirLojaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirLojaController</servlet-name>
    <url-pattern>/ExcluirLojaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LojaControlller</display-name>
    <servlet-name>LojaControlller</servlet-name>
    <servlet-class>controller.LojaControlller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LojaControlller</servlet-name>
    <url-pattern>/LojaControlller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LojaController</display-name>
    <servlet-name>LojaController</servlet-name>
    <servlet-class>controller.LojaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LojaController</servlet-name>
    <url-pattern>/LojaController</url-pattern>
  </servlet-mapping>
</web-app>